@import "react-alice-carousel/lib/alice-carousel.css";
.img1{
    width: 100%;
    height: 500px;
    object-fit: cover;
    align-items: center;
    position: static;
    pointer-events: visible;
    object-position: left;
    
    }
